 @page {
    size: 59mm 86mm;
    margin: 0cm;
}

*
{
    text-align: center;
    vertical-align: top;
    margin: 0;
    box-sizing: border-box;
}

html
{
    font-family: 'Linux Libertine O';
    font-size: 10px;
}

body
{
    position: relative;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 118mm;
    height: 86mm;
}

.cara
{
    display: inline-block;

    width: 59mm;
    height: 86mm;

    border-radius: 2.5mm;
}

.cara[cara="frente"]
{
    position: fixed;
    top: 0mm;
    left: 0mm;
    padding: 4.3mm 3mm;
}

.cara[cara='imagen']
{
    position: fixed;
    top: 0mm;
    left: 0mm;
    width: 59mm;
    height: 86mm;
}

.cara[cara='imagen'] > .imagen
{
    width: 100%;
    height: 100%;
}

.cara[cara="fondo"]
{
    position: fixed;
    left: 59mm;
    top: 0mm;
}

.cara > .cabeza
{
    position: relative;

    display: block;
    width: 100%;
    height: 10%;

    font-family: "Linux Biolinum O";
    font-weight: bold;
}

.cara > .cabeza > .tipo
{
    display: inline-block;
    width: 15%;
    height: 100%;

    color: #000000;
}

.cara > .cabeza > .tipo > .icono
{
    display: inline-block;
    width: 7.5mm;

    position: absolute;
    left: 0mm;

    color: #ffffff;
    font-weight: bold;
    font-size: 7.5mm;

    text-align: left;
}

.cara > .cabeza > .informacion
{
    display: inline-block;
    width: 85%;
    height: 100%;

    position: relative;

/*
    background-color: #000000;
*/
    opacity: 0.75;

    border-radius: 2.5mm;
}

.cara > .cabeza > .informacion > .requerimientos
{
    display: block;
    width: 100%;

    position: absolute;
    bottom: 0mm;

    height: 40%;
    margin: auto;
}

.cara > .cabeza > .informacion > .requerimientos > .region
{
    display: inline-block;
    height: 100%;
    width: 50%;

    text-align: left;
    color: #ffffff;
    padding-right: 1em;
}

.cara > .cabeza > .informacion > .requerimientos > .region > .valor
{
    font-size: 1em;
    white-space: nowrap;
}

.cara > .cabeza > .informacion > .requerimientos > .equipamento
{
    display: inline-block;
    height: 100%;
    width: 50%;

    text-align: right;
    color: #ffffff;
    padding-left: 1em;
}

.cara > .cabeza > .informacion > .requerimientos > .equipamento > .valor
{
    font-size: 1em;
    white-space: nowrap;
}

.cara > .cabeza > .informacion > .nombre
{
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0mm;

    font-size: 2em;
    padding: 0.25em;
}

.cara > .cabeza > .informacion > .nombre > .titulo
{
    width: 100%;
    height: 100%;

    font-weight: bold;
    font-size: 0.75em;
    color: #ffffff;
}

.cara > .cabeza > .informacion > .requerimientos + .nombre
{
    height: 60%;
    font-size: 1em;
    padding: 0em;
}

.cara > .vacio
{
    position: relative;
    width: 100%;
    height: 65%;
}

.cara > .vacio > .historia
{
    display: block;
    width: 80%;
    height: 2.5em;

    transform: rotate(270deg);

    position: absolute;
/*
    left: calc(-40% + 1.25em);
*/
    left: -18.5mm;
    top: 40%;

    text-align: center;
    font-size: 0.8em;
}

.cara > .vacio > .artistas
{
    display: block;
    width: 163px;
    height: 10px;

    position: absolute;
    bottom: 71.5px;
    left: -71.5px;

    text-align: left;
    font-size: 1em;
    transform: rotate(270deg);
}

.cara > .vacio > .artistas > .artista
{
    font-style: italic;

    font-size: 0.8em;
    margin-left: 1em;
    margin-right: 1em;
}

.cara > .cuerpo
{
    position: relative;
    width: 100%;
    height: 25%;
    color: #000000;
}

.cara > .cuerpo > .descripcion
{
    position: absolute;
    left: 0px;
    bottom: 0px;

    display: inline-block;
    width: 15%;
    height: 100%;

    font-family: 'Linux Libertine Display O';
    font-size: 0.7em;
    line-height: 100%;
}

.cara > .cuerpo > .descripcion > .tipo
{
    position: absolute;
    bottom: 0mm;

    display: block;
    width: 100%;
    height: 50%;
}

.cara > .cuerpo > .descripcion > .tipo > .icono
{
    display: block;
    width: 7.5mm;

    position: absolute;
    left: 0mm;
    top: 1mm;
}

.cara > .cuerpo > .descripcion > .valor
{
    position: absolute;
    top: 0mm;

    display: block;
    width: 100%;
    height: 50%;
}

.cara > .cuerpo > .descripcion > .valor > .icono
{
    display: block;
    width: 7.5mm;

    position: absolute;
    left: 0mm;
    bottom: 1mm;
}

.cara > .cuerpo > .atributos
{
    position: absolute;
    left: 0px;
    bottom: 0px;

    display: inline-block;
    width: 20%;
    height: 120%;

    border-radius: 7.5mm;
    opacity: 0.75;
}

.cara > .cuerpo > .atributos > .salud
{
    display: block;
    width: 100%;
    height: 33.33%;

    position: relative;

    border-top-left-radius: 2.5mm;
    border-top-right-radius: 2.5mm;

    background-color: #ff3333;
}

.cara > .cuerpo > .atributos > .salud > .icono
{
    position: absolute;
    top: 0mm;
    left: 0mm;

    display: block;
    width: 6mm;
    height: 6mm;
}

.cara > .cuerpo > .atributos > .salud > .valor
{
    position: absolute;
    bottom: 0mm;
    right: 0mm;

    display: block;
    width: 6mm;
    height: 6mm;

    font-size: 2em;
    font-weight: bold;
}

.cara > .cuerpo > .atributos > .consentracion
{
    display: block;
    width: 100%;
    height: 33.33%;

    position: relative;

    background-color: #98bac8;
}

.cara > .cuerpo > .atributos > .consentracion > .icono
{
    position: absolute;
    top: 0mm;
    left: 0mm;

    display: block;
    width: 6mm;
    height: 6mm;
}

.cara > .cuerpo > .atributos > .consentracion > .valor
{
    position: absolute;
    bottom: 0mm;
    right: 0mm;

    display: block;
    width: 6mm;
    height: 6mm;

    font-size: 2em;
    font-weight: bold;
}

.cara > .cuerpo > .atributos > .agilidad
{
    display: block;
    width: 100%;
    height: 33.33%;

    position: relative;

    border-bottom-right-radius: 2.5mm;
    border-bottom-left-radius: 2.5mm;

    background-color: #ffd033;
}

.cara > .cuerpo > .atributos > .agilidad > .icono
{
    position: absolute;
    top: 0mm;
    left: 0mm;

    display: block;
    width: 6mm;
    height: 6mm;
}

.cara > .cuerpo > .atributos > .agilidad > .valor
{
    position: absolute;
    bottom: 0mm;
    right: 0mm;

    display: block;
    width: 6mm;
    height: 6mm;

    font-size: 2em;
    font-weight: bold;
}

.cara > .pie
{
    display: block;
    width: 100%;
    height: 1em;

    position: absolute;
    bottom: 0.5mm;
    left: 0mm;
}

.cara > .pie > .temporada
{
    display: inline-block;
    width: 50%;

/*
    padding: 0.15em;
*/
    font-size: 0.6em;
    font-weight: bold;
}

.cara > .pie > .serial
{
    display: inline-block;
    width: 15%;
    height:100%;

/*
    padding: 0.15em;
*/
    font-size: 0.6em;
    font-weight: bold;
}

.cara > .pie > .autor
{
    display: inline-block;
    width: 35%;
}

.cara > .pie > .autor > .autores
{
    display: inline-block;
    height:100%;

    font-size: 0.6em;
    font-weight: bold;
    padding: 0em 0.25em;
}

.habilidad
{
    position: absolute;
    right: 0px;
    bottom: 0px;

    display: inline-block;

    height: 100%;
    color: #ffffff;

    border-top-right-radius: 2.5mm;
    border-bottom-right-radius: 2.5mm;

    opacity: 0.75;
}
.cara[tipo='Personaje'] .habilidad
{
    width: 80%;
}

.cara[tipo='Habilidad'] .habilidad
{
    width: 100%;
}

.cara[tipo='Recurso'] .habilidad
{
    width: 85%;
}

.habilidad > .titulo
{
    width: 100%;
    height: 11%;

    background-color: #6e6e6e;
    background-color: #000000;
    color: #ffffff;

    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
}

.habilidad > .titulo > .valor
{
    display: inline-block;
    height: 100%;
    width: 100%;

    font-size: 0.8em;
    font-weight: bold;

}

.habilidad > .cabeza
{
    width: 100%;
    height: 11%;

    background-color: #000000;
    color: #ffffff;

    font-size: 0.7em;
}

.habilidad > .cabeza > .activacion
{
    display: inline-block;
    width: 25%;
    height: 100%;
}

.habilidad > .cabeza > .costo
{
    display: inline-block;
    width: 75%;
    height: 100%;
}

.habilidad > .cabeza > .costo > .token
{
    margin-right: 1em;
    margin-left: 1em;
}

.habilidad > .cuerpo
{
    background-color: #ffffff;
    width: auto;
    height: 67%;

    color: #000000;
}

.habilidad > .cuerpo > .efecto
{
}

.habilidad > .cuerpo > .efecto > .valor
{
    font-size: 0.9em;
    padding: 0.125em 0.25em;
    text-align: center;
    line-height: 90%;
}

.habilidad > .pie
{
    width: 100%;
    height: 11%;

    background-color: #6e6e6e;
    background-color: #000000;
    color: #ffffff;

    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    font-size: 0.7em;
}

.habilidad > .pie > .afectados
{
    display: inline-block;
    width: 30%;
    height: 100%;
}

.habilidad > .pie > .afectados > .valor
{
    display: inline-block;
    height: 100%;
    width: 100%;
}

.habilidad > .pie > .forma
{
    display: inline-block;
    width: 30%;
    height: 100%;
}

.habilidad > .pie > .forma > .valor
{
    display: inline-block;
    height: 100%;
    width: 100%;
}

.habilidad > .pie > .alcanse
{
    display: inline-block;
    width: 20%;
    height: 100%;
}

.habilidad > .pie > .alcanse > .nombre
{
    display: inline-block;
    height: 100%;
    width: 50%;
    text-align: right;
    padding-right: 0.25em;
}

.habilidad > .pie > .alcanse > .valor
{
    display: inline-block;
    height: 100%;
    width: 50%;
    text-align:left;
    padding-left: 0.25em;
}

.habilidad > .pie > .radio
{
    display: inline-block;
    width: 20%;
    height: 100%;
}

.habilidad > .pie > .radio > .nombre
{
    display: inline-block;
    height: 100%;
    width: 50%;
    text-align: right;
    padding-right: 0.25em;
}

.habilidad > .pie > .radio > .valor
{
    display: inline-block;
    height: 100%;
    width: 50%;
    text-align:left;
    padding-left: 0.25em;
}

.cara[cara='fondo'] > .fondo
{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cara[cara='fondo'] > .fondo > .imagen
{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.cara[cara='fondo'] > .pie
{
    width: 100%;

    position: absolute;
    bottom: 0mm;

    color: #ffffff
}

.cara[cara='fondo'] > .pie > .licencia
{
    display: block;
    font-size: 0.5em;
    font-style: italic;
}

.cara[subtipo="Energia"] .informacion
{
    background-color: #86b1c3;
}

.cara[subtipo="Agilidad"] .informacion
{
    background-color: #efdd11;
}

.cara[subtipo="Resistencia"] .informacion
{
    background-color: #ff3322;
}

.cara[subtipo="Inmediata"] .informacion
{
    background-color: #fca31f;
}

.cara[subtipo="Continua"] .informacion
{
    background-color: #93bc59;
}

.cara[subtipo="Sucesiva"] .informacion
{
    background-color: #669999;
}

.cara[subtipo="Acumulativa"] .informacion
{
    background-color: #005b9a;
}

.cara[tipo="Personaje"] .informacion
{
    background-color: #000000;
}

.token
{
    display: inline-block;
    width: auto;
    height: 1em;
    margin-right: 0.25em;
    margin-left: 0.25em;
}

.token > .valor
{
    display: inline-block;
    width: auto;
    height: 100%;
}

.token > .tipo
{
    width: 1em;
    margin: 0em;
}
